@import url(//db.onlinewebfonts.com/c/d8acf9862ec2f2245c7885adf14f1e7c?family=Runic+MT+Condensed);
@font-face {
  font-family: "Runic MT Condensed";
  src: url("//db.onlinewebfonts.com/t/d8acf9862ec2f2245c7885adf14f1e7c.eot");
  src: url("//db.onlinewebfonts.com/t/d8acf9862ec2f2245c7885adf14f1e7c.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/d8acf9862ec2f2245c7885adf14f1e7c.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/d8acf9862ec2f2245c7885adf14f1e7c.woff") format("woff"), url("//db.onlinewebfonts.com/t/d8acf9862ec2f2245c7885adf14f1e7c.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/d8acf9862ec2f2245c7885adf14f1e7c.svg#Runic MT Condensed") format("svg");
}

.footer {
  background-color: rgb(53, 63, 137);
  position: relative;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

.header {
  background-color: rgb(53, 63, 137);
  font-family: "Runic MT Condensed" ;
  font-size: 3rem;

}

.nav-items {
  color: white;
}
/* .nav {
  color: white;
  font-family: "Runic MT Condensed" ;
  font-size: 4rem;
} */


.my-2{
  width: 400px;
  height: 600px;
  margin: 0 auto;
}
