@import url(//db.onlinewebfonts.com/c/d8acf9862ec2f2245c7885adf14f1e7c?family=Runic+MT+Condensed);
@font-face {
  font-family: "Runic MT Condensed";
  src: url("//db.onlinewebfonts.com/t/d8acf9862ec2f2245c7885adf14f1e7c.eot");
  src: url("//db.onlinewebfonts.com/t/d8acf9862ec2f2245c7885adf14f1e7c.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/d8acf9862ec2f2245c7885adf14f1e7c.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/d8acf9862ec2f2245c7885adf14f1e7c.woff") format("woff"), url("//db.onlinewebfonts.com/t/d8acf9862ec2f2245c7885adf14f1e7c.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/d8acf9862ec2f2245c7885adf14f1e7c.svg#Runic MT Condensed") format("svg");
}

.character-card {
  padding: 20px;
}

main{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.character-card-content {
  width: 400px;
  height: 600px;
  margin: 0 auto;
}

.footer {
  background-color: rgb(53, 63, 137);
  margin-top: auto;
}

.footer-developers {
  font-family: "Runic MT Condensed" ;
  font-size: 2.5rem;
  color: white;
  text-align: center;
}

.header {
  background-color: rgb(53, 63, 137);
  font-family: "Runic MT Condensed" ;
  font-size: 3rem;
}

.home {
  display: flex;
  justify-content: center;
}

#home-img {
  height: 60%;
  width: 60%
}

.index-flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.nav-items {
  color: black;
  text-shadow: -0.6px 0 white, 0 0.6px white, 0.6px 0 white, 0 -0.6px white;
  font-size: 2.3rem;
  font-weight: bold}

.nav-logo {
  color: black;
  text-shadow: -0.6px 0 white, 0 0.6px white, 0.6px 0 white, 0 -0.6px white;
  font-weight: bold;

}

.new-form {
  width: 30%;
  padding: 20px;
  margin: 0 auto;
}

p {
  margin-bottom: 0 !important;
}
